# Necessry Libray --

In [1]:
import pandas as pd
import numpy as np

# Read Data --

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# Data Clening Process --

In [4]:
df.duplicated().sum()

np.int64(1)

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
len(df)

1337

# Data Transformation(Lable En-coding ) --

In [7]:
df['smoker'] = df['smoker'].map({'yes':1,'no':0})

In [8]:
df['region'] = df['region'].map({'southwest':0,'southeast':1,'northwest': 2,'northeast':3})

In [9]:
df['sex'] = df['sex'].map({'male':1,'female':0})

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   int64
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   int64
 5   region    1337 non-null   int64
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 83.6 KB

# Checking - Co - Relation --

In [11]:
df.corr()

               age       sex       bmi  children    smoker    region   charges
age       1.000000 -0.019814  0.109344  0.041536 -0.025587 -0.001626  0.298308
sex      -0.019814  1.000000  0.046397  0.017848  0.076596 -0.004936  0.058044
bmi       0.109344  0.046397  1.000000  0.012755  0.003746 -0.157574  0.198401
children  0.041536  0.017848  0.012755  1.000000  0.007331 -0.016258  0.067389
smoker   -0.025587  0.076596  0.003746  0.007331  1.000000  0.002358  0.787234
region   -0.001626 -0.004936 -0.157574 -0.016258  0.002358  1.000000  0.006547
charges   0.298308  0.058044  0.198401  0.067389  0.787234  0.006547  1.000000

# Drop Column Not Colretated to Feature  --

In [12]:
df.drop(columns='region',inplace=True)

In [13]:
# df

# Data Type Coasting --

In [14]:
df['smoker'] = df['smoker'].astype('int')

In [15]:
# df.info()

# Apply Statistics Method to Remove Unwanted Data or Outliers --

In [16]:
q1 = df.quantile(0.25,numeric_only=True)

In [17]:
q3 = df.quantile(0.75,numeric_only=True)

In [18]:
IQR = q3 - q1

In [19]:
lower_fence = q1-(1.5*IQR)

In [20]:
lower_fence

age            -9.000000
sex            -1.500000
bmi            13.675000
children       -3.000000
smoker          0.000000
charges    -13120.716175
dtype: float64

In [21]:
upper_fence = q3+(1.5*IQR)

In [22]:
upper_fence

age            87.000000
sex             2.500000
bmi            47.315000
children        5.000000
smoker          0.000000
charges     34524.777625
dtype: float64

# Removing Outliers --

In [23]:
clean_data  = df[
    (df['age'] > -9) & (df['age'] < 87) &
    (df['sex'] > -1) & (df['sex'] < 2) &
    (df['bmi'] > 13) & (df['bmi'] < 47) &
    (df['children'] > -3) & (df['children'] < 5) &
    (df['smoker'] > -1) & (df['smoker'] < 2) &
    (df['charges'] > -13120.71) & (df['charges'] < 34524.77)
]

# Feature Of Engineering --

In [24]:
# clean_data

In [25]:
# clean_data.describe()

In [26]:
def bmi_converter(x):
    if x > 0 and  x <= 18 :
        return 'Under_Weight'
    elif x > 18 and x <= 24:
        return 'Normal'
    elif x > 24 and x <= 29:
        return 'over_weight'
    else:
        return 'obase'

In [27]:
df['BMI_Category'] = df['bmi'].apply(bmi_converter)

In [28]:
df.describe()

,age,sex,bmi,children,smoker,charges
count,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000,1337.000000
mean,39.222139,0.504862,30.663452,1.095737,0.204936,13279.121487
std,14.044333,0.500163,6.100468,1.205571,0.403806,12110.359656
min,18.000000,0.000000,15.960000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.290000,0.000000,0.000000,4746.344000
50%,39.000000,1.000000,30.400000,1.000000,0.000000,9386.161300
75%,51.000000,1.000000,34.700000,2.000000,0.000000,16657.717450
max,64.000000,1.000000,53.130000,5.000000,1.000000,63770.428010

# Apply One hot Encoding --

In [29]:
df.head(2)

   age  sex    bmi  children  smoker     charges BMI_Category
0   19    0  27.90         0       1  16884.9240  over_weight
1   18    1  33.77         1       0   1725.5523        obase

In [30]:
df['BMI_Category'].unique()

array(['over_weight', 'obase', 'Normal', 'Under_Weight'], dtype=object)

In [31]:
# One-hot encoding
dummies = pd.get_dummies(df['BMI_Category'], prefix='BMI')

# Convert True/False to 0/1 (agar bool aa raha ho)
dummies = dummies.astype(int)

# Add encoded columns to original df
df = pd.concat([df, dummies], axis=1)
df

,age,sex,bmi,children,smoker,charges,BMI_Category,BMI_Normal,BMI_Under_Weight,BMI_obase,BMI_over_weight
0,19,0,27.900,0,1,16884.92400,over_weight,0,0,0,1
1,18,1,33.770,1,0,1725.55230,obase,0,0,1,0
2,28,1,33.000,3,0,4449.46200,obase,0,0,1,0
3,33,1,22.705,0,0,21984.47061,Normal,1,0,0,0
4,32,1,28.880,0,0,3866.85520,over_weight,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,10600.54830,obase,0,0,1,0
1334,18,0,31.920,0,0,2205.98080,obase,0,0,1,0
1335,18,0,36.850,0,0,1629.83350,obase,0,0,1,0
1336,21,0,25.800,0,0,2007.94500,over_weight,0,0,0,1
1337,61,0,29.070,0,1,29141.36030,obase,0,0,1,0

In [32]:
df.shape

(1337, 11)

In [33]:
df.drop(['BMI_Category'], axis=1, inplace=True)

In [34]:
df.head()

,age,sex,bmi,children,smoker,charges,BMI_Normal,BMI_Under_Weight,BMI_obase,BMI_over_weight
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,1,0,0,0
4,32,1,28.880,0,0,3866.85520,0,0,0,1

# Total Number of Remove Unwanted Data --

In [35]:
1378-1174

204

# Load Clena Data in Directory for Model Development --

In [36]:
df.to_csv('Clean_Insurance_Data',index=False)

In [37]:
df.head(2)

,age,sex,bmi,children,smoker,charges,BMI_Normal,BMI_Under_Weight,BMI_obase,BMI_over_weight
0,19,0,27.90,0,1,16884.9240,0,0,0,1
1,18,1,33.77,1,0,1725.5523,0,0,1,0